@import 'styles/vars';

.homepage {
    background-color: $color;
    margin-top:11.5rem;
    height: 120vh;
    &-picture{ 
        background-image:url('../../assets/exemple.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 30rem;
    }
    &-card{
        display: flex;
        justify-content: space-between;
        background-color:$bg-color;
        height: 40rem;
        width:100%;
    }
}