@import 'styles/vars';

.homepage {
    background-color: $bg-color;
    margin-top:11.5rem;
    height: 172vh;
    &-picture{ 
        background-image:url('../../../assets/exemple.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 30rem;
    }
    &-cuir{ 
        background-image:url('../../../assets/cuirs.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top:15em;
        height: 15rem;
    }
    &-text{
        background-color: $color2;
        height: 15rem;
    }
    &-card{
        display: flex;
        justify-content: space-evenly;
        background-color:$bg-color;
        align-items: center;
        height: 20rem;
        width:100%;
    }
}