@import 'styles/vars'; 
.contact{
    margin-top:12rem;
    height: 180vh;
    background-color: $bg-color;
    &-text{
        background-color:$color2;
        max-width: 45%;
        height:180vh;
        margin: auto;
    }
    &-media{
        box-shadow: 3px;
        height: 30rem;
    }
}
.cardcontact{
    background-color: $color2;
}