@import 'styles/vars'; 
.contact{
    margin-top:12rem;
    height: 200vh;
    background-color: $bg-color;
    &-text{
        background-color:$color2;
        max-width: 45%;
        height:210vh;
        margin: auto;
        
    }
    &-media{
        box-shadow: 3px;
        height: 30rem;
    }
}
.cardcontact{
    background-color: $color2;
    padding:1em
}

iframe {
    height: 22em;
    width:45rem;
    margin-top:1rem;
    border-style: hidden;
    border-radius: 50px;
    border:solid $bg-color;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
   
}