@import 'styles/vars';
    
    
    .toolbar{
        display: flex;
        justify-content: space-between;
        margin-left: $gutter;  
           
    }

    .typography{
      color: $color;
      padding-bottom:.5$gutter
    }

    
    // .navlinks {
      
    // }
  
    .link {
      text-decoration: none;
      color: $color2;
      font-size: 20px;
      margin-left: $gutter;
    //   &:hover: {
    //     color: yellow;
        
    //   },
    }
  