@import 'styles/vars';
    
    .appBar{
        
        margin-top: 100px;
        padding: $gutter;
        max-height: 5em;
        flex-wrap: nowrap;
        background-color: aqua; 
        
    }
    .toolbar{
        display: flex;
        justify-content: space-between;
        margin-left: $gutter;  
           
    }

    .typography{
      color: $color;
      padding-bottom:.5$gutter
    }

    
    // .navlinks {
      
    // }
  
    .link {
      text-decoration: none;
      color: $color2;
      font-size: 20px;
      margin-left: $gutter;
    //   &:hover: {
    //     color: yellow;
        
    //   },
    }
  