@import 'styles/vars'; 

.reparations{
    margin-top:12rem;
    margin-bottom:2rem;    
    height: 147vh;
    background-color: $bg-color;
    &-container{
        background-color:$color2; 
        max-width: 60%;
        height:138vh;
        margin: auto;
    }
}
.before-after-list{
    background-color: $color2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
   
}